.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    z-index: 100;
  }
  .popup {
    margin: 70px auto;
    background: var(--bgColor);
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    position: relative;
    transition: all 5s ease-in-out;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 101;
  }
  
  .popup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px 0;
  }

  .popup .close {
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
  }
  .popup .close:hover {
    cursor: pointer;
  }
  .popup-content {
    max-height: 30%;
    overflow: auto;
    padding: 16px;
  }
  .popup-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;

  }
  .popup-footer:has(:only-child) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .popup-footer > *:not(:last-child){
    display: flex;
    align-items: center;
    margin-right: 8px;
  }
  
  @media screen and (max-width: 700px) {
    .popup {
      width: 70%;
    }
  }
  