.btn {
    position: relative;
    border: 1px solid transparent;
    font-size: var(--def-button-fs);
    line-height: var(--def-lh);
    background-color: transparent;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.6s;
    transition-timing-function: ease;
    transition-property: opacity, border-color, color;
    text-align: center;
    gap: var(--gap-xs);
    --btn-height: unset;
    min-height: var(--btn-height);
}

.btn:hover {
    opacity: 0.8;
}

.btn--default {
    background-color: var(--def-text-color);
    border-color: var(--def-text-color);
    color: var(--white);
}

.btn--primary {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--white);
}

.btn--danger {
    background-color: var(--danger);
    border-color: var(--danger);
    color: var(--white);
}

.btn--outline-primary {
    background-color: transparent;
    border-color: var(--primary);
    color: var(--primary);
}

.btn--outline-grey-30 {
    background-color: transparent;
    border-color: var(--grey-30);
    color: var(--grey-30);
}

.btn--outline-danger {
    background-color: transparent;
    border-color: var(--danger);
    color: var(--danger);
}

.btn--xs {
    padding: 4px 10px;
    --btn-height: var(--btn-xs);
}

.btn--sm {
    padding: 4px 11px;
    --btn-height: var(--btn-sm);
}

.btn--md {
    padding: 4px 12px;
    --btn-height: var(--btn-md);
}

.btn--lg {
    padding: 4px 14px;
    --btn-height: var(--btn-lg);
}

.btn--xl {
    padding: 4px 16px;
    --btn-height: var(--btn-xl);
}

.btn--square {
    width: var(--btn-height);
    min-width: var(--btn-height);
    height: var(--btn-height);
    padding: 0;
    flex: 0 0 var(--btn-height);
}

.disabled,
*:disabled {
    pointer-events: none;
    opacity: 0.7;
}

.btn--create {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: var(--white);
    background-color: var(--primary);
    font-size: 22px;
    --btn-height: var(--btn-xl);
    border-radius: var(--def-radius);
    opacity: 0.6;
}

.link {
    font-size: var(--def-button-fs);
    line-height: var(--def-lh);
    background-color: transparent;
    font-weight: 600;
    display: inline-flex;
    transition: all 0.6s ease;
    gap: var(--gap-xs);
} 
.link.link--primary {
    color: var(--primary);
}