@tailwind components;

.btn {
    position: relative;
    border: 1px solid transparent;
    font-size: var(--defaultFontSize);
    line-height: var(--defaultLineHeight);
    background-color: transparent;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    text-align: center;
    gap: 8px;
}
.btn:hover {
    opacity: .8;
}
.btn--default {
    background-color: var(--defaultTextColor); 
    border-color: var(--defaultTextColor);
    color: var(--white);   
}
.btn--default:hover {
    background-color: transparent;  
    color: var(--defaultTextColor);  
}
.btn--primary {
    background-color: var(--primary); 
    border-color: var(--primary);
    color: var(--white);  
}
.btn--primary:hover {
    border-color: var(--primary);
    background-color: transparent;  
    color: var(--primary);  
}
.btn--outline-primary {
    background-color: transparent; 
    border-color: var(--primary);
    color: var(--primary);  
}
.btn--outline-primary:hover {
    border-color: var(--primary);
    background-color: var(--primary);  
    color: var(--white);  
}
.btn--outline-gray-30 {
    background-color: transparent; 
    border-color: var(--gray-30);
    color: var(--gray-30);  
}
.btn--outline-gray-30:hover {
    border-color: var(--gray-30);
    background-color: var(--gray-30);  
    color: var(--white);  
}
.btn--danger {
    background-color: var(--danger); 
    border-color: var(--danger);
    color: var(--white);  
}
.btn--danger:hover {
    border-color: var(--danger);
    background-color: transparent;  
    color: var(--danger);  
}
.btn--outline-danger {
    background-color: transparent; 
    border-color: var(--danger);
    color: var(--danger);  
}
.btn--outline-danger:hover {
    border-color: var(--danger);
    background-color: var(--danger);  
    color: var(--white);  
}

.btn--md {
    padding: 14px 16px;
}
.btn-icon--sm {
    width: 36px;
    height: 36px;;
}
.btn-icon--md {
    width: 44px;
    height: 44px;;
}

.border--md {
    border-width: 2px;
}

.disabled,
*:disabled {
    pointer-events: none;
    opacity: 0.7;
}

@layer components {
    .btn-loader {
        margin: -8px;
        @apply animate-spin;
    }
    .btn-hover--spin:hover > * {
        /* margin: -8px; */
        @apply animate-spin;
    }
  }