<<<<<<< HEAD
.form-group {
    display: block;
}

.input,
.textarea {
    font-family: var(--fontFamily);
=======

.input,
.textarea {
>>>>>>> d3daaf74810b482b9cbcd43d6913457704477bfc
    padding: 14px 16px;
    font-size:  12px;
    line-height: 16px;
    width: 100%;
    background-color: var(--gray-10);
    border-radius: var(--defaultRaduis);
<<<<<<< HEAD
    border: 1px solid var(--gray-30);
=======
    border: 1px solid #8D8D8D;
>>>>>>> d3daaf74810b482b9cbcd43d6913457704477bfc
}
input,
button,
textarea {
<<<<<<< HEAD
    font-family: var(--fontFamily);
}
.input::placeholder,
.textarea::placeholder {
    color: var(--gray-30);
}
.textarea {
    resize: none;
=======
    font-family: var(--fotnFamily);
}
.input::placeholder,
.textarea::placeholder {
    color: var(--gray-20);
>>>>>>> d3daaf74810b482b9cbcd43d6913457704477bfc
}

input:invalid {
    background-color: var(--input-bg-danger);
    border: 1px solid var(--danger);
}