:root {
  --input-height: 40px;
}

.form-group {
  display: block;
}
.input input,
input.input,
.textarea {
  font-family: var(--fontFamily);
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  background-color: var(--gray-10);
  border-radius: var(--defaultRaduis);
  border: 1px solid var(--gray-30);
  color: var(--defaultTextColor);
}
textarea {
  padding: 14px 16px;
  min-height: 64px;
}
.input,
.textarea {
  overflow: hidden;
}
.input {
  display: flex;
  align-items: center;
}
.input input,
input.input {
  flex: auto;
  width: 100%;
  background-color: transparent;
  padding: 4px 16px;
  height: var(--input-height);
  color: var(--defaultTextColor);
}
.input button {
  padding: 4px 16px;
  min-height: 40px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input:has(button) input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.react-select-container {
}
.react-select-container .react-select__control {
    font-family: var(--fontFamily);
    font-size: 12px;
    line-height: 16px;
    width: 100%;
    background-color: var(--bgColor)!important;
    border-radius: var(--defaultRaduis)!important;
    border: 1px solid var(--gray-30)!important;
    width: 100%;
    box-shadow: none;
    min-height: var(--input-height);
}
.react-select-container .react-select__value-container {
  padding: 4px 16px;
}
.react-select-container .react-select__placeholder {
    font-size: 12px;
    line-height: 16px;
    color: var(--gray-30);
    margin: 0;
}
.react-select-container .react-select__single-value {
  color: var(--defaultTextColor);
}
.react-select-container .react-select__control.react-select__control--menu-is-open .react-select__indicators {
  transform: rotate(180deg);
}
.react-select-container .react-select__indicators {}
.react-select-container .react-select__menu {
  background-color: var(--bgColor)!important;
  border: 1px solid var(--gray-30);
  border-radius: 0 0 var(--defaultRaduis) var(--defaultRaduis);
}
.react-select-container .react-select__menu-list {}
.react-select-container .react-select__option {}
.react-select-container .react-select__option--is-focused.react-select__option,
.react-select-container .react-select__option:hover
 {
  background-color: var(--primary);
  color: var(--white);
}

input,
button,
textarea {
  font-family: var(--fontFamily);
}
.input::placeholder,
.textarea::placeholder {
  color: var(--gray-30);
}
.textarea {
  resize: none;
}

.textarea.invalid,
.input.invalid {
  background-color: var(--input-bg-danger);
  border: 1px solid var(--danger);
}

.input:disabled {
  opacity: 0.5;
}

.react-datepicker__wrapper {
  width: 100%;
}
.react-datepicker__input-container {
  display: flex;
}