.form-group {
  display: block;
}

.input,
.textarea {
  font-family: var(--fontFamily);
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  background-color: var(--gray-10);
  border-radius: var(--defaultRaduis);
  border: 1px solid var(--gray-30);
  color: var(--gray-20);
}
textarea {
  padding: 14px 16px;
}
.input {
  display: flex;
  align-items: center;
}
.input input {
  flex: auto;
  width: 100%;
  background-color: transparent;
  padding: 14px 16px;
  color: var(--gray-20);
}
.input button {
  padding: 14px 16px;
}

.react-select-container {
}
.react-select-container .react-select__control {
    font-family: var(--fontFamily);
    /* padding: 14px 16px; */
    font-size: 12px;
    line-height: 16px;
    width: 100%;
    background-color: var(--bgColor)!important;
    /* background-color: var(--gray-10)!important; */
    border-radius: var(--defaultRaduis)!important;
    border: 1px solid var(--gray-30)!important;
    width: 100%;
    box-shadow: none;
}
.react-select-container .react-select__value-container {
  padding: 10px 16px;
}
.react-select-container .react-select__placeholder {
    font-size: 12px;
    line-height: 16px;
    color: var(--gray-20);
    margin: 0;
}
.react-select-container .react-select__control.react-select__control--menu-is-open .react-select__indicators {
  transform: rotate(180deg);
}
.react-select-container .react-select__indicators {}
.react-select-container .react-select__menu {
  background-color: var(--bgColor)!important;
  border: 1px solid var(--gray-30);
  border-radius: 0 0 var(--defaultRaduis) var(--defaultRaduis);
}
.react-select-container .react-select__menu-list {}
.react-select-container .react-select__option {}
.react-select-container .react-select__option--is-focused.react-select__option,
.react-select-container .react-select__option:hover
 {
  background-color: var(--primary);

}

input,
button,
textarea {
  font-family: var(--fontFamily);
}
.input::placeholder,
.textarea::placeholder {
  color: var(--gray-20);
}
.textarea {
  resize: none;
}

.textarea.invalid,
.input.invalid {
  background-color: var(--input-bg-danger);
  border: 1px solid var(--danger);
}

.input:disabled {
  opacity: 0.5;
}

.react-datepicker__wrapper {
  width: 100%;
}
.react-datepicker__input-container {
  display: flex;
  
}