@tailwind base;
@tailwind utilities;

:root {
    --defaultTextColor: #0F0F0F;
    --bgColor: #F5F5F5;
    --headerColor: #E5DEFF;
    --white: #F5F5F5;
    --primary: #4F26E9;
    --secondary: #c6c2fb;
    --success: #019c23;
    --warning: yellow;
    --danger: #FC0000;
    --gray-30: #8D8D8D;
    --gray-20: #E1E1E1;
    --gray-10: #F2F2F2;
    --input-bg-danger:#F7E8E8;
    --fontFamily: 'Open Sans', sans-serif;
    --defaultFontSize: 13px;
    --defaultLineHeight: 18px;
    --h1Size: 64px;
    --h2Size: 22px;
    --h3Size: 15px;
    --h4Size: 13px;
    --h5Size: 10px;
    --defaultRaduis: 6px;
    --shadows: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#root {
    height: 100%;
}
body.theme-dark {
    --bgColor: #0F0F0F;
    --headerColor: #0F0F0F;
    --defaultTextColor: #F5F5F5;
    --gray-10: #0F0F0F;

}

body {
    font-size: 100%;
    font-weight: normal;
    font-family: var(--fontFamily);
    font-weight: 400;
    font-size: var(--defaultFontSize);
    line-height: var(--defaultLineHeight);
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: var(--defaultTextColor);
    background-color: var(--bgColor);
}
body.lock {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 600;
    font-family: var(--fontFamily);
    line-height: 125%;
}

h1 {
    font-size: var(--h1Size);
}

h2 {
    font-size: var(--h2Size);
}

h3 {
    font-size: var(--h3Size);
}

h4 {
    font-size: var(--h4Size);
}

h5 {
    font-size: var(--h5Size);
}

.radius {
    border-radius: var(--defaultRaduis);
}
.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.header-fixed {
    padding-top: var(--header-height);
}
.content {
    flex: auto;
}
.container {
    --padding-x: 15px;
    max-width: calc(1350px + var(--padding-x) * 2);
    margin: 0 auto;
    width: 100%;
    padding: 0 var(--padding-x);
}

*::-webkit-scrollbar {
    height: 4px;
    width: 10px;
}
*::-webkit-scrollbar-track {
    /* background: var(--white); */
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background: var(--gray-30);
}
*::-webkit-scrollbar-thumb:hover {
    background: var(--gray-20);
}
hr {
    height: 1px;
    background-color: var(--gray-30);
}

.color-primary {
    color: var(--primary);
}
.color-gray-30 {
    color: var(--gray-30);
}