@tailwind base;
@tailwind utilities;

#root {
    height: 100%;
}

body {
    font-size: var(--def-fs);
    font-weight: 400;
    font-family: var(--def-ff);
    letter-spacing: -0.08px;
    line-height: var(--def-lh);
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: var(--def-text-color);
    background-color: var(--bg-color);
    overflow-y: scroll;
    overflow-x: hidden;
}

body.lock {
    overflow: hidden;
}

*::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: var(--grey-30);
    border-radius: var(--def-radius);
 
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--grey-20);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 600;
    font-family: var(--def-ff);
    line-height: var(--def-lh);
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

h4 {
    font-size: var(--h4-size);
}

h5 {
    font-size: var(--h5-size);
}

.rounded {
    border-radius: var(--def-radius);
}

.rounded-full {
    border-radius: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.wrapper.header-fixed {
    min-height: calc(100vh - var(--header-height));
}

.header-fixed {
    padding-top: var(--header-height);
}

.content {
    flex: auto;
}

.container {
    --container: var(--def-container);
    --container-padding-x: var(--def-container-padding-x);
    max-width: calc(var(--container) + var(--container-padding-x) * 2);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0 var(--container-padding-x);
}

hr {
    height: 1px;
    background-color: var(--grey-30);
}

.color-white {
    color: var(--white);
}
.color-danger {
    color: var(--danger);
}

.row-group {
    display: flex;
    align-items: center;
}

.col-group {
    display: flex;
    flex-direction: column;
}

.fs--xs {
    font-size: var(--fs-xs);
    line-height: normal;
}

.fs--sm {
    font-size: var(--fs-sm);
    line-height: normal;
}

.fs--md {
    font-size: var(--fs-md);
    line-height: normal;
}

.fs--lg {
    font-size: var(--fs-lg);
    line-height: normal;
}

.fs--xl {
    font-size: var(--fs-xl);
    line-height: normal;
}

.gap--xs {
    gap: var(--gap-xs);
}

.gap--sm {
    gap: var(--gap-sm);
}

.gap--md {
    gap: var(--gap-md);
}

.gap--lg {
    gap: var(--gap-lg);
}

.gap--xl {
    gap: var(--gap-xl);
}

.ico {
    display: flex;
    align-items: center;
    justify-content: center;
    --ico-size: unset;
    width: var(--ico-size);
    min-width: var(--ico-size);
    height: var(--ico-size);
}

.ico--xs {
    --ico-size: var(--ico-xs);
}

.ico--sm {
    --ico-size: var(--ico-sm);
}

.ico--md {
    --ico-size: var(--ico-md);
}

.ico--lg {
    --ico-size: var(--ico-lg);
}

.ico--xl {
    --ico-size: var(--ico-xl);
}

.row.row--sm {
    --bs-gutter-x: var(--gap-sm);
    --bs-gutter-y: var(--gap-sm);
}

.row.row--md {
    --bs-gutter-x: var(--gap-md);
    --bs-gutter-y: var(--gap-md);
}

.row.row--lg {
    --bs-gutter-x: var(--gap-lg);
    --bs-gutter-y: var(--gap-lg);
}