.loader {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  width: 100%;
  height: 100%;
}
.scroll-top {
  position: fixed;
  opacity: 0.3;
  bottom: 10px;
  right: 10px;
  width: fit-content;
}
.scroll-top:hover {
  position: fixed;
  opacity: 0.8;
}
.full-screen {
  height: calc(100vh - var(--header-fixed-padding));
  width: 100%;
  margin-top: calc(var(--header-fixed-padding) * -1);
  padding-top: var(--header-fixed-padding);
}

.section {
  padding-top: 32px;
  padding-bottom: 32px;
}

.text-info {
  font-size: 12px;
  line-height: 16px;
  color: var(--gray-30);
}
.tag {
  color: var(--primary);
  font-weight: 500;
}
.label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 16px;
  border-radius: var(--defaultRaduis);
  border: 1px solid var(--primary);
  font-size: 12px;
  line-height: 16px;
  background-color: var(--primary);
  color: var(--white);
}
.label.label--success {
  background-color: var(--success);
}
input[type="radio"] ~ .label {
  background-color: var(--white);
  color: var(--primary);
  cursor: pointer;
}
input[type="radio"]:checked ~ .label {
  background-color: var(--primary);
  color: var(--white);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-10);
  border-radius: var(--defaultRaduis);
  height: 100%;
  border: 1px solid var(--gray-30);
}
.card-top {
  padding: 16px;
  padding-bottom: 0;
}
.card-image {
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: var(--defaultRaduis);
  height: 186px;
}
.card-image img { 
  transition: all 2s ease;
  transform: scale(1);
}
.card-image:hover img {
  transform: scale(1.2);
}
.card-image .label {
  position: absolute;
  right: 7px;
  top: 7px;
  padding: 8px 12px;
}
.card-image img {
  width: 100%;
  height: 100%;
}
.card-body {
  display: flex;
  flex-direction: column;
  flex: auto;
  padding: 16px;
}
.card-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-info {
  color: var(--gray-30);
}

.card-title {
  margin-bottom: 8px;
}
.card-desc {
  margin-bottom: 8px;
}
.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  margin-top: auto;
  padding-top: 0;
}
.card-footer > *:not(:last-child) {
  margin-right: 8px;
}

.upload-image {
  display: flex;
  object-fit: cover;
  border: 1px solid var(--gray-30);
  border-radius: 300px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  --size: 150px;
  width: var(--size);
  height: var(--size);
  min-width: var(--size);
}
.upload-image img {
  width: 100%;
  height: 100%;
}

.dropdown {
  position: relative;
}

.dropdown-body {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--bgColor);
  padding: 16px;
  border-radius: var(--defaultRaduis);
  box-shadow: var(--shadows);
  z-index: 100;
  margin-top: 60px;
}
.dropdown-body > *:not(:last-child) {
  margin-bottom: 8px;
}

.breadcrumbs {
  padding: 10px 16px;
  list-style: none;
  background-color: var(--bgColor);
}
.breadcrumbs li {
  display: inline;
}
.breadcrumbs li + li:before {
  padding: 8px;
  color: var(--defaultTextColor);
  content: "/\00a0";
}
.breadcrumbs li a {
  color: var(--primary);
  text-decoration: none;
}
.breadcrumbs li:last-child a {
  color: var(--gray-30);
  pointer-events: none;
}
.breadcrumbs li a:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.create-task {
  position: fixed;
  opacity: 0.3;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
}

.page-heading {
  color: var(--primary);
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.078px;
  margin-bottom: 32px;
}

.gutters-cards {
  --bs-gutter-x: 24px;
  --bs-gutter-y: 24px;
}
.gutters {
  --bs-gutter-x: 20px;
  --bs-gutter-y: 20px;
}

.image-big {
  position: relative;
  border-radius: var(--defaultRaduis);
  border: 1px solid var(--gray-30);
  overflow: hidden;
  height: 430px;
}
.image-big .label {
  position: absolute;
  top: 16px;
  right: 16px;
}
.image-big .label.label--left {
  right: auto;
  left: 16px;
  z-index: 1;
}
.card-image .label.label--left {
  right: auto;
  left: 7px;
  z-index: 1;
}
.image-big img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.image-big__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--grey-30);
}
.theme-dark .image-big__bottom {
  background-color: rgba(15, 15, 15, 0.75);

}

.swiper .swiper-slide {
  height: auto;
}

.error {
  color: var(--danger);
}
